HO
中
BAGONGPILIPINAS
MunicipalityofTanauan
Checklist Requirements for MCH,
Motopot, & Single Motorcycle
Accomplished Application Form
Barangay Clearance (Route/Residence)
ResidenceCertiticate/Cedula
Seminar/indorsementtromTratficHead
NationalPoliceClearance
Xerox ot Motor Vehicle Registration
Xerox ot Latest LTO Official Receipt
Xerox Copy ot Driver's License ot Owner
Xerox Copyot Driver's LicenseotDriver
Hile Copy ot the Franchise
Inspection ottheUnit/BPLOInspector/PNP
BusinessPermitotPreviousYear(Renewal)
Others: