BAGONG PILIPINAS
Municipality of Tanauan
Checklist Requirements for e-Trike,
and Pedicab
Accomplished Application Form
Seminar/lndorsementfromTrafficHead
BarangayClearance
ResidenceCertiticate/Cedula
NationalPoliceClearance
ProotofOwnership/DeedofSale
Inspection of the Unit by BPLO Inspector/PNP
Business Permit of Previous Year (Renewal)
Others: