Provinceof Leyte
MUNICIPALITYOFTANAUAN
BACONGPILIPINAS
CHECKLISTOFDOCUMENTARYREQUIREMENTS
FORBUSINESSAPPLICATION
IMPORTANT:（PleaseReadandUnderstand)
ProcessingofTransactionwillcommenceonlyupon
submissionofCOMPLETEDOCUMENTS（An
pagprosesohantransaksiyonmagtitikanglaha
pagsumiterhankumpletongamgaDokumento)
TypeofTransaction:
New
Renewal
NameofApplicant:
LocationofBusiness:
NameofBusiness:
GENERALREQUIREMENTS:
Unified ApplicationForm(UAF)
ProofofBusinessIdentity-(DTl-Soleof
Proprietorship/SEC-Corporation/CDA-
Cooperative
BarangayClearanceforBusiness
SanitaryPermittoOperate
BFP-FsiC（FireSafetyInspectionCertificate
ADDITIONAL/BACKROOMREQUIRMENTS:
·BarangayResolutionastoNoObjection
NotarizedSwornStatementofGrossSalesorITR
(forRenewal)
HealthCardforEmployees（Food&NonFood
RelatedBusiness
·PEsoRegistrationforOwner/EmployeeProfiling
·DeclarationofCapital(NewApplicant)
·PNPCertificationforInstalledCCTV
·MENRO/DA/MPDCCertification
·CopyofContractofLease（ifRenting)
CopyoftheBFADCertificate,CNC
PropertyIdentificationNo.ofLot/BuildingUsed
CopyofOccupancyPermit
CopyofLatestBusinessPermitof Lessor
·MarketStallVerificationforMarketOccupants
·MDRRMOcertification(withBeachResort/Pooll
BusinessPermitofPreviousYear
PictureofPhysicalOfficee.g.:Contracton
SpecialPowerofAttorney(SPA),if
representative,IDofbothparties
Iherebyafixmysignature,confirmingmycompliance
withallrequireddocuments.Ishallberesponsibleforany
consequencesresultingfromnon-compliance,suchas
revokingofbusinesspermitissued
SignatureoverPrintedNameoftheOwneror
Representative
"Ayawpag-alangkonmayda ipakiri-ana
wnsbbuodnpwpbupppouppsppoosup